.mision-vision {
    background: none; /* Quitar el fondo degradado */
    padding: 60px 20px;
    text-align: center;
}

.mision-vision .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap; /* Cambiar a nowrap para mantener los elementos en una fila */
    gap: 30px;
    justify-content: center;
}

.mision-vision .mision, .mision-vision .vision {
    flex: 1 1 45%; /* Mantener el ancho para que estén lado a lado */
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.715);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mision-vision .mision:hover, .mision-vision .vision:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mision-vision h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mision-vision p {
    font-size: 18px;
    color: #34495e;
    line-height: 1.8;
    text-align: justify;
}

@media (max-width: 768px) {

    .mision-vision {
        margin-top: 100px;
    }

    .mision-vision .contenedor {
        flex-wrap: wrap; /* Cambiar a wrap para apilar en pantallas pequeñas */
        gap: 20px;
    }

    .mision-vision .mision, .mision-vision .vision {
        flex: 1 1 100%; /* Ocupan todo el ancho en dispositivos móviles */
        transition: none; /* Eliminar transiciones */
    }

    .mision-vision .mision:hover, .mision-vision .vision:hover {
        transform: none; /* Eliminar transformaciones */
        box-shadow: none; /* Eliminar cambios de sombra */
        background-color: #ffffff; /* Mantener el color de fondo original */
    }

    .mision-vision h2 {
        font-size: 24px;
    }

    .mision-vision p {
        font-size: 16px;
    }
}
